@model LibraryBorrowViewModel

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card-body">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a  asp-action="Index">Book List</a></li>
                    <li class="breadcrumb-item active" area-current="page">Borrow</li>
                </ol>
            </nav>
            <br /> <br />
             <form method ="post"  enctype="multipart/form-data" asp-action="BorrowRecord">
                  <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                  <div class="form-row">
                          @* <label asp-for="UserId"></label>
                          <select asp-for="UserId"   
                      class="form-control"   
                      asp-items="@( (List<SelectListItem>) ViewBag.SelectUser )" >  
                    </select> *@

                       @* @Html.DropDownList("UserId", (MultiSelectList)ViewBag.SelectUser) *@

                      <div class="col-md-2"></div>
                       <div class="form-group col-md-2">
                          <label asp-for="SubmittedDate"></label>
                      </div>
                       <div class="form-group col-md-2">
                          <input asp-for="SubmittedDate" class="form-control" />
                          <span asp-validation-for="SubmittedDate" class="text-danger"></span>
                      </div>

                    <div class="form-group">
                       <input asp-for="BookId" type="hidden"/>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary">Save</button>
                    </div>
             </form>
            
        </div>

    </div>

</div>